{% extends 'base.html' %}

{% block title %} Отклонение мнения {% endblock %}

{% block content %}
<div class="container mt-4">

    <div class="profile-header">
        <h4> Блокировка пользователя</h4>
        <hr>
    </div>

    <div class="list-group-item mb-3">
        <strong>{{ user.username }}</strong>
        <br>
        <small class="text-muted">
            {{ user.email }}
        </small>
        <br>
    </div>

    <form method="POST"
          action="{{ url_for('admin.blocked_user', id=user.id) }}">

        <div class="mb-3">
            <label class="form-label">
                Укажите причину блокировки:
            </label>
            <textarea name="reason"
                      class="form-control"
                      rows="4"
                      required></textarea>
        </div>

        <button type="submit"
                class="btn btn-danger">
            Заблокировать пользователя
        </button>

        <a href="{{ url_for('admin.users_list_view') }}"
           class="btn btn-secondary">
            Отмена
        </a>
    </form>

</div>
{% endblock %}