{% extends 'base.html' %}

{% block title %}Список пользователей WTW{% endblock %}

{% block content %}
<div class="container mt-4">
      <h4>Список пользователей сайта</h4>

    {% if users_list %}
        <ul class="list-group">
        {% for user in users_list %}
            <li class="list-group-item">
                {{ user.username }} Id:{{ user.id }}
                <br>
                <small>
                  <a href="{{ url_for('users.user_profile_view', username=user.username) }}"
                    class="text-muted">
                      Открыть мнения пользователя
                  </a>
                </small>
                <br>
                <small class="text-muted">Добавлено: {{ user.email }}</small>

                  <br>
                  <a href="{{ url_for('admin.blocked_user', id=user.id) }}"
                    class="text-muted">
                      Заблокировать пользователя
                  </a>
                <br>
                <small class="text-muted">  </small>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Пока пользователей нет</p>
    {% endif %}
</div>
{% endblock %}