{% extends "base.html" %} 
{% block title %}Мнение о фильме # {{ opinion.id }}{%endblock %} 
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
      <h1>{{ opinion.title }}</h1>
      {% if opinion.status == "pending" %}
        <div class="opinion-status pending">
            <span class="status-dot"></span>
              Мнение на модерации
        </div>
      {% endif %}

      {% if opinion.status == "rejected" %}
        <div class="opinion-status rejected">
            ❌ Мнение не опубликовано
            {% if opinion.rejection_reason %}
                <div class="reject-reason">
                    Причина: {{ opinion.rejection_reason }}
                </div>
            {% endif %}
        </div>
      {% endif %}
      <div class="col-12 col-lg-7 my-5">
        <p>{{ opinion.text }}</p>
        <p>
          Больше о фильме: 
          {% if opinion.source %}
            <a href="{{ opinion.source }}">{{ opinion.source }}</a>
          {% else %} источник не указан {% endif %}
        </p>
        <p>
          Ссылка для друзей:
          <a href="{{ url_for('opinions.opinion_view', id=opinion.id, _external=True) }}">{{ url_for('opinions.opinion_view', id=opinion.id, _external=True) }}</a>
        </p>
        <p>
          Автор мнения: <a href="{{ url_for('users.user_profile_view', username=opinion.author.username) }}"> {{ opinion.author.username }} </a>
        </p>
        {% if current_user.is_authenticated and opinion.user_id == current_user.id %}
          <p>
            <a style="color: blue" href="{{ url_for('opinions.redact_opinion_view', id=opinion.id) }}"> Редактировать мнение </a>
          </p>
        <form action=" {{ url_for('opinions.delete_opinion', id=opinion.id) }} " method="POST" id="dform"></form>
        <button type="submit"
                class="btn btn-danger" form="dform">
          Удалить мнение
        </button>
        {% endif %}
      </div>
      <div class="col-12 col-lg-5">
        <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/illustration.png') }}" alt="" />
      </div>
    </div>
  </section>
</main>
{% endblock %} 